In [2]:
import pandas

In [4]:
df = pandas.read_csv("timeseries.csv", sep=";")

In [5]:
df

          Date      A
0   2008-03-18  24.68
1   2008-03-19  24.18
2   2008-03-20  23.99
3   2008-03-25  24.14
4   2008-03-26  24.44
5   2008-03-27  24.38
6   2008-03-28  24.32
7   2008-03-31  24.19
8   2008-04-01  23.81
9   2008-04-02  24.03
10  2008-04-03  24.34