In [4]:
import pandas as pd
from matplotlib import pyplot as plt

In [10]:
df = pd.read_csv("soggetti-guariti.csv", sep=";")

In [11]:
df = df.loc[['ABR'], ["", "A"]]

    area,reg,eta,guariti_senza_somm,guariti_post_somm,guariti_post_1booster,guariti_post_2booster
0                          ABR,Abruzzo,00-04,112,0,0,0
1                           ABR,Abruzzo,05-11,89,0,0,0
2                          ABR,Abruzzo,12-19,31,25,0,0
3                          ABR,Abruzzo,20-29,12,83,0,0
4                         ABR,Abruzzo,30-39,34,161,0,0
..                                                 ...
205                       VEN,Veneto,40-49,276,423,0,0
206                       VEN,Veneto,50-59,240,554,0,0
207                  VEN,Veneto,60-69,189,449,2873,390
208                  VEN,Veneto,70-79,155,424,2540,602
209                   VEN,Veneto,80+,179,307,2991,1173

[210 rows x 1 columns]